/* body {
  padding-top: 100px;
} */

.home-background {
  padding-top: 20px;
  min-height: 100vh;
  width: 100%;
  background-image: url('assets/homeImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-content {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.image-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-dark);
  --bs-popover-header-bg: var(--bs-dark);
  --bs-popover-header-color: var(--bs-light);
  --bs-popover-body-bg: var(--bs-light);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.nav-link {
  color: #f8f9fa;
  font-size: 14px;
}

.nav-link:hover {
  color: aliceblue;
}

.nav-pills .nav-link:focus {
  color: #f8f9fa !important;
  background-color: #212529 !important;
}

.nav-pills .nav-link.active {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

footer {
  /* margin-top: 20px; */
  padding: 10px;
  background-color: #343a40;
  color: white;
  text-align: center;
}

.form-control:focus {
  border: none !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  outline: none;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #212529 !important; 
  color: #fff !important;
  border-radius: 0.8rem !important;       
  transition: background 0.2s, border-radius 0.2s;       
}

.search-result-item:hover {
  background-color: #212529 !important; 
  color: #fff !important;
  border-radius: 0.8rem !important;       
  transition: background 0.2s, border-radius 0.05s;  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(1) brightness(0.2);
}

.carousel-indicators .active {
  background-color: #212529; 
  opacity: 1;
}

.card.shadow:hover, .card.shadow:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 123, 255, 0.5), 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
  transition: box-shadow 0.2s !important;
}

